body {
  text-align: center;
  margin: 0;
    font-family: 'Life Savers', cursive;

  font-size: 1.5em;
    background-color:#cbf1f5;
}

h1 {
  font-size: 5.625rem;

  margin: 50px auto 0 auto;
  padding-top: 150px;
  font-family: 'Sacramento', cursive;
  color: #46b7b9;
}

h2 {

  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #364f6b;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #46b7b9;
  font-weight: bold;
  text-align: left;
}

.top {
  background-color:  #e4fffe;
  position: relative;
  padding-top: 50px;
}

.middle-container
{
    background-color:#cbf1f5;
padding-top: 200px;
line-height: 2;
width:50%;
margin:auto;
}

.me
{

  width:190px;

}

.bottom-cloud {
  position: absolute;
  left: 30%;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 30%;
  padding-top: 60px;
}

hr{
  background-color:#cbf1f5;
  border-style: dotted none none;
  border-width:5px;
  border-color:grey;
  width:10%;
}

.skills
{
  padding-top: 200px;

}
.contact-me
{
  padding-top: 200px;
}
.bottom-container
{
    background-color:#46b7b9;
    margin: 0;
    line-height: 2;
}
.computer
{
  width:190px;
  border-radius: 100%;
  float:left;
  margin-right: 20px;
  position: relative;
  right:60px;
  top:90px;

}
.skill-row
{

  margin:auto;
  line-height: 2;
  text-align:center;

}
.link
{
  width:50px;
  position:relative;
  right:30px;
  top:30px;
}
.inst
{
width:50px;
position: relative;
left:15px;
top:30px;
}
.twiit
{
  width:50px;
  position: relative;
  left:60px;
  top:30px;
}

.last
{
  color:#eaf6f6;
  margin-bottom: 0;
}

.btn {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: monospace;
   font-size: 20px;
   font-weight: 900;
   padding: 12px;
   background-color: #00B2B2;
   box-shadow: 1px 1px 6px 0px #000000;
   -webkit-box-shadow: 1px 1px 6px 0px #000000;
   -moz-box-shadow: 1px 1px 6px 0px #000000;
   text-shadow: 1px 1px 6px #000000;
   border: solid #762C2C 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   background: #1E62D0;
   border: solid #0059A0 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
